{% extends "base.html" %}

{% block content %}
<body>
  <h1 style="color:white;font-size:40px;">COVID</h1>
  <div id='covid' class='chart'”></div>
</body>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{covid | safe}};
  Plotly.plot('covid', graphs,{});
</script>
<body>
  <h1 style="color:white;font-size:40px;">INFLUENZA</h1>
  <div id='flu' class='chart'”></div>
</body>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{influenza | safe}};
  Plotly.plot('flu', graphs,{});
</script>
{% endblock %}